.render{
    background-color: black;
    width: 1000px !important;
    margin-left: 250px;
    margin-top: 50px !important ;
    opacity: 0.8;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px !important;
}

.render h1 {
    font-family: sans-serif;
    font-size: 30px;
    color: white !important;
}

.render p {
    font-family:  sans-serif;
    color: white;
    max-width: 500px;
}

.back {
        position: absolute !important;
        z-index: -1;
        width: 100%;
        filter: blur(8px);
  -webkit-filter: blur(8px);
}